@model SMMC.Models.Student

@{
    ViewData["Title"] = "Update Contact Info";
}
<h2>Update</h2>
<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateContact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="personID" />
            <div class="form-group">
                <label asp-for="phone" class="control-label">Phone</label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailAddress" class="control-label">Email Address</label>
                <input asp-for="emailAddress" class="form-control" />
                <span asp-validation-for="emailAddress" class="text-danger"></span>
            </div>         
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ContactUpdateView">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}