@model SMMC.Models.Student

@{
    ViewData["Title"] = "Update Parent Info";
}
<h2>Update</h2>
<h4>Parent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateParent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="personID" />
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>     
            <div class="form-group">
                <label asp-for="role" class="control-label">Role</label>
                <select asp-for="role" class="form-control">
                    <option asp-for="role" value="Parent">Parent</option>
                    <option asp-for="role" value="Guardian">Guardian</option>
                </select>
                <span asp-validation-for="role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ParentUpdateView">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}