@model SMMC.Models.Student

@{
    ViewData["Title"] = "Update School Info";
}
<h2>Update</h2>
<h4>School</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateSchool">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="personID" />
            <div class="form-group">
                <label asp-for="schoolName" class="control-label">School Name</label>
                <input asp-for="schoolName" class="form-control" />
                <span asp-validation-for="schoolName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="enrolled" class="control-label">Enrolled</label>
                <input asp-for="enrolled" class="form-control" />
                <span asp-validation-for="enrolled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="SchoolUpdateView">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}